{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 9999 }],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}