<main>
    <div class="skeleton-list">
        <div class="skeleton-list__block skeleton-list__title"></div>

        <div class="skeleton-list__row skeleton-list__calendar-header">
            <div class="skeleton-list__row skeleton-list__buttons">
                <div class="skeleton-list__block skeleton-list__prev"></div>
                <div class="skeleton-list__block skeleton-list__next"></div>
            </div>
            <div class="skeleton-list__buttons">
                <div class="skeleton-list__block skeleton-list__week"></div>
            </div>
        </div>

        <div class="skeleton-list__block skeleton-list__block--grid">
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
        </div>

        <div class="skeleton-list__block skeleton-list__block--grid">
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
        </div>

        <div class="skeleton-list__block skeleton-list__block--grid">
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
        </div>

        <div class="skeleton-list__block skeleton-list__block--grid">
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
        </div>
        <div class="skeleton-list__block skeleton-list__block--grid">
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
            <div class="skeleton-list__inner-square"></div>
        </div>
    </div>
</main>