/* You can add global styles to this file, and also import other style files */
html,
body {
    background-image: url("./assets/pixlr-image-generator-6692ea8b43416e2f129c0be1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
* {
    text-decoration: none;
}
