<nav class="sidebar glassify">
    <div class=" sidebar__container">
        <div class="sidebar__profile-section">
            <app-avatar [label]="profileLabel" class="sidebar__avatar"></app-avatar>
        </div>
        <div class="spacer"></div>
        <a class="sidebar__main-section glassify" *ngFor="let item of mainSections" [routerLink]="item.routerLink"
            routerLinkActive="active-link">
            <i [class]="item.icon"></i>
            <span aria-label="main-section">{{item.label}}</span>
        </a>
        <div class="spacer"></div>
        <a class="sidebar__util-section glassify" *ngFor="let item of utilSections" [routerLink]="item.routerLink"
            routerLinkActive="active-link">
            <i [class]="item.icon"></i>
            <span aria-label="util-section">{{item.label}}</span>
        </a>
    </div>
</nav>