@import "../style/mixins.scss";
@import "../style/common.scss";
.sidebar {
    width: 200px;
    @include screen-x(599px) {
        width: 100px;
        height: auto;
    }

    &__container {
        @include flex-col(center, space-around);
        height: 100vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__profile-section {
        width: 100%;
    }

    &__main-section,
    &__util-section {
        @include flex-align(center, center);
    }

    &__main-section {
        width: calc(100% - 10px);
        height: calc(50% - 30px);
    }

    &__util-section {
        width: calc(100% - 10px);
    }

    &__avatar {
        width: 90px;
        height: 90px;
        color: "#2a1261";
        display: block;
        margin: 10px auto;

        .p-avatar {
            user-select: none;
            width: 90px;
            height: 90px;
        }
        @include screen-x(599px) {
            width: 50px;
            height: 50px;
            .p-avatar {
                width: 50px;
                height: 50px;
                font-size: 12pt;
            }
        }
    }

    .p-component {
        width: 100%;
        padding: 5px;

        @include screen-x(599px) {
            @include flex-col(center, center);
        }

        .p-panelmenu-header-content {
            border: none;
            background-color: black;
            border-radius: 5px;
            &:hover {
                background-color: rgba(36, 4, 151, 0.411);
            }

            @include screen-x(599px) {
                background-color: transparent;
            }
        }
    }

    .p-panelmenu {
        .p-menuitem-text {
            color: white;
            @include screen-x(599px) {
                display: none;
            }
        }
    }

    .p-menuitem-icon {
        color: white;
        @include screen-x(599px) {
            font-size: 18pt;
        }
    }
}
